
:root {
    --dark: #15161d;
    --gris: #A6A6A9;
    --light: #FEFEFF;
    --light2: #f5f5f5;
    --orangAL: #F1A84C;
    --redAL: #F76960;
    --newred: #e31b6d;
    --newdark: #1b242f;
    --textnoir: #1d1d1f;
}

.loader-container.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--newdark);
    z-index: 999;
    transition: 1s ease-in-out, visibility 1s ease-in-out;
}

.loader {
    width: 120px;
    height: 120px;
    border: 3px solid var(--orangAL);
    border-top: 0px solid var(--light);
    border-radius: 50%;
    box-shadow: 0 0 6px 2px rgba(0,0,0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    animation: loader 1s linear infinite;
}

/* Logo */
#logo {
    width: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    transition: all 0.5s;
    animation: showup 7s infinite;
}

@keyframes loader {
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}