
@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes flipInX {
    from {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
    }

    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) rotateY(-20deg);
        transform: perspective(400px) rotateY(-20deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
    }

    80% {
        -webkit-transform: perspective(400px) rotateY(-5deg);
        transform: perspective(400px) rotateY(5deg);
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }

    60% {
        opacity: 1;
        transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



:root {
    --dark: #15161d;
    --gris: #A6A6A9;
    --light: #FEFEFF;
    --light2: #f5f5f5;
    --orangAL: #F1A84C;
    --redAL: #F76960;
    --newred: #e31b6d;
    --newdark: #1b242f;
    --textnoir: #1d1d1f;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    /* Toute la hauteur de la page au minimum */
    min-height: 100%;

}

body {
    background-color: var(--dark);
    color: var(--textnoir);
    font-family: 'oak-light', sans-serif;
    /* Enleve les marges par defaut du body */
    margin: 0;
    /* aligner au centre tt les textes */
    text-align: center;
    line-height: 2;


}

#preload {
    display: none;
}

.disable-hover {
    pointer-events: none;
}


.overflow-wrap {
    overflow-x: hidden;
}

/* HEADER  */




.separator {
    width: 40px;
    height: 2px;
    margin: 15px auto;
    display: block;
    background-color: var(--light);
}


/* Bouton voir projet */
.button {
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
}

.button:hover {
    background-color: #04c2c9;
    border-color: #04c2c9;
}

.button .mdi {
    vertical-align: middle;
}

/* Classe Flex pour positionnement des éléments */
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex.row {
    flex-direction: row;
}

.flex.wrap {
    flex-wrap: wrap;
}


div {
    display: block;
}

/* ===== M E N U ====== */

/* Lien de navigation */
.page-link {
    cursor: pointer;
    margin: auto;
}

.highlight {
    color: var(--redAL);
}

/* Navigation */
nav {
    background: var(--light);
    color: var(--newdark);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 45px;
    z-index: 99;

}

/* Conteneur de lien */
nav .link-list {
    background: var(--light);
    position: absolute;
    top: 45px;
    width: 100%;
    height: 0;
    max-width: 1200px;
    overflow: hidden;
    transition: height 0.3s ease-out;

}

nav .link-list div:first-child {
    padding: 25px 20px 12px 20px;
}

/* Survol des liens */
nav .link-list div:hover {
    color: var(--redAL);
}

/* Liens  */
nav .link-list div {
    cursor: pointer;
    font-size: 12pt;
    font-weight: smaller;
    padding: 12px 20px;
    transition: color 0.5s;
    font-family: 'sf-mono', serif;

}

/* Conteneur pour liens en colonnes */
nav .link-list.visible {
    height: 310px;
}

/* Classe pour fixer la navigation en top */
nav.fixed {
    position: fixed;
    left: 0;
    top: 0;
    bottom: inherit;
}

/* animation glissement de barre de navigation vers le bas */
nav.fixed.desk {
    animation: popDown 0.5s;
}

/* Decoration liens lors de l'activation */
nav .active {
    color: var(--redAL);
}

/* Menu Hamburger pour mobile & tablette */
nav .mdi-menu {
    font-size: 30pt;
    line-height: 36pt;
    margin: auto 0;
    position: absolute;
    right: 5vw;
    top: 0;
}

.mdi-chevron-left,
.mdi-chevron-right {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    color: #fff;
    cursor: pointer;
    cursor: pointer;
    font-size: 14pt !important;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
}

.mdi-chevron-left {
    left: 0;
}

.mdi-chevron-right {
    right: 0;
}

.transition {
    transition: 0.7s;
}

/* ICONE MENU NAVIGATION HAMBURGER */
.line {
    fill: none;
    stroke: var(--newdark);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}



/* SECTIONS */

/* css des sections en générales */
section {
    background-color: var(--newdark);
    color: var(--light);
    /* line-height: 20pt; */
    /* IMPORTANT  */
    position: relative;
    padding: 70px 0;
}

/* css de la première section */
section:nth-of-type(1) {
    color: #fff;
    padding: 0;
}


section:nth-of-type(1) .text {
    font-size: 16pt;
    margin: 0 0 45px 0;
    pointer-events: none;
    z-index: 1;

}

section:nth-of-type(1) .mdi {
    background-color: transparent;
    border: none;
    position: absolute;
    transition: transform 0.3s;
}

/* ABOUT */
section:nth-of-type(2) .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section:nth-of-type(2) .left {
    flex-basis: auto;
}

section:nth-of-type(2) .left img {
    width: 300px;
    object-fit: cover;
    filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;

    /* Maximum 100% */
    max-width: 90%;
    height: auto;
    margin: auto;
    /*  
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
 */

}

section:nth-of-type(2) .left img:hover {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
}

section:nth-of-type(2) .right {
    width: 40rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    text-align: left;
    font-size: smaller;
    font-weight: normal;
    font-family: 'sf-mono', serif;
}

section:nth-of-type(2) .right h2 {
    font-size: smaller;
}

section:nth-of-type(2) .right h1 {
    color: var(--orangAL);
}

section:nth-of-type(2) .skills {
    font-family: 'sf-mono', serif;
    justify-content: flex-start;
    color: var(--orangAL);
}

section:nth-of-type(2) .skills ul {
    list-style: square;
}

section:nth-of-type(2) .skills li {
    padding: 10px 20px;
}



section:nth-of-type(2) .bottom {
    padding: 1rem 1rem;
    border: 1px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

section:nth-of-type(2) .bottom .dev-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

section:nth-of-type(2) .bottom .track {
    margin-bottom: 12px;
}

section:nth-of-type(2) .bottom img {
    width: 80px;
    height: auto;

}

section:nth-of-type(2) .bottom h2 {
    background-color: var(--newdark);
    color: var(--redAL);
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .5rem;
}

section:nth-of-type(2) .bottom .title {
    font-weight: bolder;
    text-align: center;
}


#anchor-contact {
    text-decoration: underline;
}

/* PORTFOLIO */
/* Style the buttons */
section:nth-of-type(3) .btns {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: var(--light);
    cursor: pointer;
}


section:nth-of-type(3) .btns:hover {
    background-color: #ddd;
}

section:nth-of-type(3) .btns.active {
    background-color: #666;
    color: white;
}

section:nth-of-type(3) .container {
    padding: 0;
}

section:nth-of-type(3) .filter-wrap {
    position: relative;
    white-space: nowrap;
}

section:nth-of-type(3) .filter {
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    padding: 0 20px;
    transition: background-color 0.5s;
}

section:nth-of-type(3) .float-bar {
    bottom: 0;
    left: 30px;
    position: absolute;
    top: 0;
    background: var(--newdark);
    border-radius: 1px;
    height: 25px;
    margin: auto 0;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

section:nth-of-type(3) .float-bar .row {
    bottom: 0;
    left: -30px;
    position: absolute;
    top: 0;
    margin: auto 0;
    transition: left 0.5s ease-in-out;
}

section:nth-of-type(3) .float-bar .row .filter {
    color: var(--redAL);
}

section:nth-of-type(3) .text {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

section:nth-of-type(3) #gallery {
    margin: 20px auto;
}

section:nth-of-type(3) #gallery .text,
section:nth-of-type(3) #gallery .button {
    color: var(--dark);
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

section:nth-of-type(3) #gallery .text .bold,
section:nth-of-type(3) #gallery .button .bold {
    font-size: 16pt;
}

section:nth-of-type(3) #gallery .button {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    border: 2px solid var(--redAL);
    font-size: 13pt;
    margin: 0 auto;
    padding: 7px 0;
    width: 170px;
}

section:nth-of-type(3) #gallery .filterDiv {
    display: none;
    position: relative;
    background-color: var(--light2);
}

section:nth-of-type(3) #gallery .filterDiv .waypoint {
    background: rgb(17, 13, 13);
}

section:nth-of-type(3) #gallery .filterDiv .button:hover {
    background: var(--redAL);
    color: var(--dark);
}

section:nth-of-type(3) #gallery .show {
    display: block;
}

section:nth-of-type(3) #gallery .card img {

    /* permet de couvrir la zone en conservant le ratio */
    object-fit: cover;
    /* Permet de recentrer l'image à l'intérieur de sa box */
    object-position: center center;
    width: 100%;
    height: 100%;
    margin: 0 0px;
    transition: width .1s ease-in 0.3s;
    -moz-transition: width .1s ease-in 0.3s;
    -webkit-transition: width .1s ease-in 0.3s;
    /* For Safari 3.1 to 6.0 */
    cursor: pointer !important;
}



section:nth-of-type(3) #gallery .filterDiv .card {
    height: 240px;
    max-width: 100%;
    transition: opacity 0.5s;
    width: calc(50vw - 8px);
}

section:nth-of-type(3) #gallery .filterDiv:hover .card {
    opacity: 0.1;
}

section:nth-of-type(3) #gallery .filterDiv:hover .text {
    cursor: default;
    opacity: 1;
    top: 24%;
}

section:nth-of-type(3) #gallery .filterDiv:hover .button {
    bottom: 24%;
    opacity: 1;
}

section:nth-of-type(4) .container {
    padding: 1rem 1.5rem;
}

section:nth-of-type(4) .text {
    text-align: left;
}

section:nth-of-type(5) {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}


section .flex-50-gt-sm {
    display: block;
}

section .header-bar {
    background-color: var(--light);
}

/* Conteneur de section */
.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem 1rem;
    width: 100%;
}

/* En-Tête Section */
.header {
    color: var(--light);
    text-transform: uppercase;
    font-family: 'oak-bold';
    font-size: 2em;
    position: relative;
}

.header-bar {
    background: var(--dark);
    height: 4px;
    margin: 25px auto 50px auto;
    width: 70px;
}

a {
    color: var(--redAL);
}


/* MODAL */

.carousel-wrap {
    height: 250px;
    margin: 0 auto;
    position: relative;
}

.window {
    background: #222;
    overflow: hidden;
    position: relative;
}

#carousel {
    position: relative;
    top: 0;
    width: 10000px;
}

.slide {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    float: left;
    height: 250px;
    justify-content: center;
}

.mdi-chevron-left,
.mdi-chevron-right {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    color: #fff;
    cursor: pointer;
    cursor: pointer;
    font-size: 14pt !important;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
}

.mdi-chevron-left {
    left: 0;
}

.mdi-chevron-right {
    right: 0;
}

.transition {
    transition: 0.7s;
}

.modal-wrap {
    height: 100vh;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    z-index: 100;
}

.modal-wrap .mask {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
}

.modal-wrap .modal {
    align-items: flex-start;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    color: #333;
    height: 100vh;
    opacity: 0;
    position: relative;
    text-align: left;
    transform: scale(0.8);
    transition: all 0.3s;
}

.modal-wrap .close {
    bottom: 25px;
    color: #bbb;
    cursor: pointer;
    font-size: 20pt;
    font-weight: 800;
    position: absolute;
    right: 10px;
}

.modal-wrap .info-box {
    border-top: 3px solid #1b242f;
    box-sizing: border-box;
    color: #444;
    padding: 15px 10px 85px 10px;
}

.modal-wrap .title {
    font-family: "Raleway-bold";
    font-size: 16pt;
    line-height: 20pt;
}

.modal-wrap .tag {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #c0c0c0;
    display: block;
    font-family: "Raleway-bold";
    font-size: 8pt;
    font-weight: 300;
    padding-bottom: 15px;
}

.modal-wrap .detail {
    font-size: 9pt;
    line-height: 14pt;
    margin-top: 13px;
}

.modal-wrap .mdi-open-in-new {
    font-size: 11pt;
    left: -10px;
    position: relative;
}

.modal-wrap .button {
    background: #e31b6d;
    border: 0;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 10pt;
    font-weight: 600;
    left: 10px;
    padding: 11px 30px;
    pointer-events: none;
    position: absolute;
    transition: all 0.5s;
    visibility: hidden;
}

.modal-wrap .button.visible {
    pointer-events: initial;
    visibility: visible;
}

.modal-wrap .button:hover {
    background: #fff;
    color: #e31b6d;
}

.modal-wrap .carousel {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

.modal-wrap.visible {
    pointer-events: initial;
}

.modal-wrap.visible .modal {
    opacity: 1;
    transform: scale(1);
}

.modal-wrap.visible .mask {
    opacity: 1;
}



/* FOOTER */
footer {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
}

/* FONTS */
@font-face {
    font-family: 'oak-light';
    src: url('../fonts/oak-light.ttf') format('truetype');
}

@font-face {
    font-family: 'oak-bold';
    src: url('../fonts/oak-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'plantin-light';
    src: url('../fonts/plantin-light.ttf') format('truetype');
}

@font-face {
    font-family: 'sf-mono';
    src: url('../fonts/sf-mono-cufonfonts/SFMonoRegular.otf') format('opentype');
}



/* MEDIAS */

@media screen and (min-width: 700px) {
    .container {
        padding: 0 20px;
    }

    .header {
        font-size: 30pt;
    }

    .header-bar {
        margin: 25px auto 50px auto;
    }


    .slide,
    .carousel-wrap {
        height: 450px;
    }

    .mdi-chevron-left,
    .mdi-chevron-right {
        font-size: 25pt !important;
    }

    .modal-wrap .modal {
        height: initial;
        top: -6vh;
    }

    .modal-wrap .info-box {
        padding: 35px 60px 90px 25px;
    }

    .modal-wrap .title {
        font-size: 22pt;
        line-height: 30pt;
    }

    .modal-wrap .tag {
        font-size: 11pt;
    }

    .modal-wrap .detail {
        font-size: 11pt;
        line-height: 18pt;
        margin-top: 15px;
    }

    .modal-wrap .close {
        right: 25px;
    }

    .modal-wrap .button {
        left: 25px;
    }

    nav .link-list {
        background: none;
        height: initial;
        overflow: visible;
        position: initial;
        text-align: center;
        padding: 20px;
        margin: auto;
    }

    nav .link-list .visible {
        height: initial;
    }

    nav .link-list div {
        display: inline;
        font-size: initial;
        top: 50%;


    }

    nav .link-list div:first-child {
        padding: 0;
    }

    nav .link-wrap div:first-child {
        padding: 0;
    }

    nav .mdi-menu {
        display: none;
    }



    section:nth-of-type(3) #gallery .filterDiv .card {
        height: 300px;
    }

}

@media screen and (min-width: 960px) {
    .waypoint {
        opacity: 0;
    }

    .button {
        font-size: 16pt;
    }

    .flex.row-gt-sm {
        flex-direction: row;
    }

    .flex-50-gt-sm {
        box-sizing: border-box;
        -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        max-height: 100%;
        max-width: 50%;
    }

    section:nth-of-type(3) #gallery .filterDiv .card {
        width: 390px;
    }

    section:nth-of-type(3) .filter {
        font-size: 13pt;
        margin: 0 25px;
        padding: 0 40px;
    }

}

@media (max-width: 700px) {
    section:nth-of-type(2) .grid {
        grid-template-columns: 1fr;
    }

}