@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  section {
    @apply my-24;
  }

  a {
    @apply text-orange-500;
  }

}

@layer components {
    .btn-primary {
        @apply bg-slate-800 hover:bg-slate-900 text-white font-bold py-2 px-4 rounded-full;
    }

    .btn-select {
      @apply bg-slate-700 hover:bg-slate-900 text-white font-bold py-2 px-4 rounded-t-none;
    }

    .nav-link {
      @apply block  
        py-2 pr-4 pl-3
        font-medium
        hover:bg-gray-500
        md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-orange-500 md:dark:hover:bg-transparent md:dark:hover:text-white;
    }

    .link {
      @apply text-orange-500;
    }

    .top-card {
      @apply h-64 rounded-t-lg bg-cover bg-center shadow-2xl;
    }

    .bottom-card {
      @apply w-full bottom-0 right-0  p-6 h-auto block bg-slate-700 rounded-b-lg shadow-2xl;
    }

    .label {
      @apply pl-6 pr-6 py-2 ml-6 mt-6 text-xs font-medium bg-black tracking-wide rounded-t-full rounded-br-full inline-flex;
    }

    .skill-card {
      @apply bg-slate-700 rounded-lg shadow-2xl flex items-center md:justify-center py-8 px-4 md:my-0 my-4;
    }

}
